@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/sans-serif/Inter-VariableFont_whgt.ttf);
}

@font-face {
    font-family: "Rubik";
    src: url(./assets/fonts/sans-serif/Rubik-VariableFont_wght.ttf);
}

:root {
    --dark-primary: #1E2A33;
    --light-primary: #E6EEF3;
    --accent: #F4A261;
    --accent-50opacity: #F4A26188;
    --light-accent: #AB520C;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Inter";
    color: var(--dark-primary);
}

h2 {
    font-size: clamp(3rem, 10vw, 3.8rem);
}

h3 {
    font-size: clamp(2.4rem, 8vw, 3rem);
}

h4 {
    font-size: clamp(2.1rem, 6vw, 2.5rem);
}

p {
    font-size: 1.8rem;
}

/* HEADER */

header {
    width: 100%;
    background-color: var(--dark-primary);
    color: var(--light-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

.logo {
    padding-top: 3rem;
}

header div span {
    font-size: clamp(6rem, 20vw, 10rem);
    font-weight: 700;
    color: var(--accent);
}

header div {
    display: flex;
}

header h1, header h1 span {
    font-size: clamp(3rem, 10vw, 5rem);
    line-height: clamp(25px, 9vw, 45px);
    padding: clamp(10px, 5vw, 20px) 0;
}

header cite {
    font-size: clamp(1.5rem, 2vw, 2.2rem);
    padding: 2rem 0;
}

/* NAVBAR HOME */

nav {
    background-color: var(--dark-primary);
    padding: 20px 0;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 55px;
    grid-template:  repeat(1, 55px) / repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin: 2rem auto;
    min-width: 300px;
    max-width: 80%;
}

nav a {
    padding: 15px;
    color: var(--accent);
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border-color .5s;
}

nav a:hover {
    border-color: var(--accent);
}

/* FOOTER */

footer {
    bottom: 0;
    width: 100%;
    background-color: var(--dark-primary);
    color: var(--light-primary);
    font-size: 2.5rem;
    text-align: center;
    padding: 15px 0;
    margin-top: 80px;
}

footer a {
    color: var(--light-primary);
    text-decoration: none;
    transition: color .3s;
}

footer span {
    padding: 0 10px;
}

footer a:hover {
    color: var(--accent)
}

/*---------------------------------------------------------------------*/
/*-------------------------RESPONSIVE--------------------------------- */
/*---------------------------------------------------------------------*/

@media (max-width: 880px) {
    nav {
        grid-template:  repeat(1, 55px) / repeat(1, 1fr);
    }
}

@media (max-width: 500px) {
    footer {
        display: flex;
        flex-direction: column;
    }

    footer a {
        padding: 15px 0;
    }

    footer span {
        display: none;
    }
}

/*---------------------------------------------------------------------*/
/*-------------------------HOME PAGE---------------------------------- */
/*---------------------------------------------------------------------*/

main {
    font-size: 2rem;
}

/* General Display of the page */

.index section {
    display: grid;
    grid-template: repeat(1, 50px) / repeat(2, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: 50px;
    gap: 15px;
    justify-items: center;
    align-items: center;
    min-width: 300px;
    max-width: 90%;
    margin: 7rem auto;
    text-transform: uppercase;
}

.index section h2 {
    font-family: "Rubik";
    font-weight: 600;
    grid-area: 1 / 1 / 2 / 3;
}

/* Links and their different states */

.index a {
    display: flex;
    width: 90%;
    text-decoration: none;
    border-radius: 6px;
    padding: 10px 15px;
    transition: background-color .3s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out, color .3s ease-in-out;
}

.index a svg {
    width: 2.5rem;
    height: 2.5rem;
}

.index a.active {
    color: var(--light-accent);
    border: 2px solid var(--accent);
}

.index a.active:hover {
    background-color: var(--dark-primary);
    color: var(--accent);
    border-color: var(--dark-primary);
}

.index a.active:active {
    color: var(--light-primary);
}

.index a span {
    padding: 0 15px;
}

.index a.not-active {
    position: relative;
    color: #A8B6C1;
    border: 2px solid #A8B6C1;
}

/* Slight pop-up for inactive links */

.index a.not-active::after {
    content: "This link is not yet created !";
    position: absolute;
    top: 5px;
    left: 25%;
    width: 50%;
    background-color: var(--accent-50opacity);
    padding: 5px;
    color: var(--dark-primary);
    opacity: 0;
    font-size: 1.5rem;
}

.index a.not-active:hover::after {
    animation: pop-up-opacity .8s linear forwards;
}

@keyframes pop-up-opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Responsive layout for homepage */

@media (max-width: 880px) {
    .index section {
        grid-template: repeat(1, 50px) / repeat(1, 1fr);
    }

    .index section h2 {
        grid-area: 1 / 1 / 2 / 2;
    }
}

@media (max-width: 500px) {
    .index {
        font-size: 1.4rem;
    }

    .index section h2 {
        font-size: 3rem;
    }

    .index a {
    min-width: 280px;
    max-width: 80%;
    }

    .index a svg {
    width: 1.8rem;
    height: 1.8rem;
    }

    .index a span {
    padding: 0 10px;
    }
}