@import url(./css/fonts.css);
@import url(./css/tokens.css);
@import url(./css/header.css);
@import url(./css/components/top-side-nav.css);
@import url(./css/footer.css);

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Inter";
    color: var(--dark-primary);
}

p {
    font-size: 1.8rem;
}