@import url(./css/fonts.css);
@import url(./css/tokens.css);
@import url(./css/header.css);
@import url(./css/components/top-side-nav.css);
@import url(./css/footer.css);

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Inter";
    color: var(--dark-primary);
}

h2 {
    font-size: clamp(3rem, 10vw, 3.8rem);
}

h3 {
    font-size: clamp(2.4rem, 8vw, 3rem);
}

h4 {
    font-size: clamp(2.1rem, 6vw, 2.5rem);
}

p {
    font-size: 1.8rem;
}