.color {
    display: flex;
    justify-content: center;
}


.color-palette {
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    border-top: #aaa solid 2px;
}

.color-palette h2 {
    padding-top: 25px;
}

.palette {
    display: flex;
}

.three-color, .four-color {
    margin: 15px auto;
    border: solid 2px #555;
}

.three-color {
    width: 150px;
}

.four-color {
    width: 200px;
}

.palette div {
    width: 50px;
    height: 50px;
}

.color-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: #AAA 0 0 3px 1px;
    margin: 15px;
}

.color-duo {
    display: flex;
    width: 280px;
    height: 50px;
    margin: auto;
    margin-bottom: 15px;
    box-shadow: #AAA 0 0 3px 1px;
}

.score {
    font-size: clamp(2rem, 7vw, 2.5rem);
    padding-bottom: 0;
}

.color1, .color2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.score2a, .score3a, .score-null {
    position: relative;
    overflow: hidden;
}

.score-null::after {
    content:"X";
    color: var(--light-primary);
    white-space: pre;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
    align-content: center;
    background-color: darkred;
    position: absolute;
    width: 20px;
    height: 50px;
    left: 260px;
}

.score2a::after {
    content:"A\A A";
    white-space: pre;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
    align-content: center;
    background-color: gold;
    position: absolute;
    width: 20px;
    height: 50px;
    left: 260px;
}

.score3a::after {
    content:"A\A A\A A";
    white-space: pre;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
    align-content: center;
    background-color: gold;
    position: absolute;
    width: 20px;
    height: 50px;
    left: 260px;
}

/*--------------------------------------*/
/* Code Color Class - Code Color HEX */
/*--------------------------------------*/


/* First Palette */

.c-1E2A33 {
    background-color: #1E2A33;
    color: var(--light-primary);
}

.c-E6EEF3 {
    background-color: #E6EEF3;
}

.c-F4A261 {
    background-color: #F4A261;
}

.c-AB520C {
    background-color: #AB520C;
    color: var(--light-primary);
}

/* Second Palette */

.c-1B252F {
    background-color: #1B252F;
    color: #F2F3F5;
}

.c-F2F3F5 {
    background-color: #F2F3F5;
}

.c-5DB9EE {
    background-color: #5DB9EE;
}

.c-1275AE {
    background-color: #1275AE;
    color: #F2F3F5;
}

/* Third Palette */

.c-3C3C3C {
    background-color: #3C3C3C;
    color: #F2F2F2;
}

.c-347D36 {
    background-color: #F2F2F2;
    color: #3c3c3c;
}

.c-A3D9A5 {
    background-color: #A3D9A5;
}