.color {
    display: flex;
    justify-content: center;
}

h2, h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

h2 svg {
    margin: 0 15px;
}

p {
    padding: 15px;
    max-width: 70ch;
    text-align: justify;
    margin: 0 auto;
}

.color ul {
    max-width: 620px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    list-style: none;
    border: solid var(--accent) 4px;
}

.color ul li {
    padding: 15px 25px;
}

p a {
    color: var(--light-accent);
}

p span {
    font-style: italic;
    font-weight: 600;
}

aside {
    margin-bottom: 25px;
}

/*---------------------------------------*/

.underwork {
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
    margin: 10px auto;
    color: var(--accent);
    background-color: var(--dark-primary);
}

.side-nav {
    position: fixed;
    top: calc(50% - 75px);
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 75px;
    height: 150px;
    background-color: var(--dark-primary);
    border-radius: 8px;
}

.side-nav a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--accent);
    height: 75px;
    width: 100%;
}

.side-nav a:hover {
    color: var(--light-primary);
}

.side-nav a:first-child {
    transform: rotate(180deg);
}

.top-page:hover::after {
    content: "UP PAGE";
    font-size: 1.3rem;
    position: absolute;
    transform: rotate(180deg);
    bottom: 65px;
}

.home-link:hover::after {
    content: "HOME";
    font-size: 1.3rem;
    position: absolute;
    bottom: 65px;
}

@media (max-width: 1149px) {
    .side-nav {
        position: relative;
        flex-direction: row;
        width: 150px;
        height: 75px;
        margin: 0 auto;
    }

    .side-nav a:first-of-type {
        display: none;
    }

    .home-link:hover::after {
        top: 55px;
    }
}

/*-------------------------------------*/

.color-palette {
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    border-top: #aaa solid 2px;
}

.color-palette h2 {
    padding-top: 25px;
}

.palette {
    display: flex;
}

.three-color, .four-color {
    margin: 15px auto;
    border: solid 2px #555;
}

.three-color {
    width: 150px;
}

.four-color {
    width: 200px;
}

.palette div {
    width: 50px;
    height: 50px;
}

.color-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: #AAA 0 0 3px 1px;
    margin: 15px;
}

.color-duo {
    display: flex;
    width: 280px;
    height: 50px;
    margin: auto;
    margin-bottom: 15px;
    box-shadow: #AAA 0 0 3px 1px;
}

.score {
    font-size: clamp(2rem, 7vw, 2.5rem);
    padding-bottom: 0;
}

.color1, .color2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.score2a, .score3a, .score-null {
    position: relative;
    overflow: hidden;
}

.score-null::after {
    content:"X";
    color: var(--light-primary);
    white-space: pre;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
    align-content: center;
    background-color: darkred;
    position: absolute;
    width: 20px;
    height: 50px;
    left: 260px;
}

.score2a::after {
    content:"A\A A";
    white-space: pre;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
    align-content: center;
    background-color: gold;
    position: absolute;
    width: 20px;
    height: 50px;
    left: 260px;
}

.score3a::after {
    content:"A\A A\A A";
    white-space: pre;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
    align-content: center;
    background-color: gold;
    position: absolute;
    width: 20px;
    height: 50px;
    left: 260px;
}

/*--------------------------------------*/
/* Code Color Class - Code Color HEX */
/*--------------------------------------*/


/* First Palette */

.c-1E2A33 {
    background-color: #1E2A33;
    color: var(--light-primary);
}

.c-E6EEF3 {
    background-color: #E6EEF3;
}

.c-F4A261 {
    background-color: #F4A261;
}

.c-AB520C {
    background-color: #AB520C;
    color: var(--light-primary);
}

/* Second Palette */

.c-1B252F {
    background-color: #1B252F;
    color: #F2F3F5;
}

.c-F2F3F5 {
    background-color: #F2F3F5;
}

.c-5DB9EE {
    background-color: #5DB9EE;
}

.c-1275AE {
    background-color: #1275AE;
    color: #F2F3F5;
}

/* Third Palette */

.c-3C3C3C {
    background-color: #3C3C3C;
    color: #F2F2F2;
}

.c-347D36 {
    background-color: #F2F2F2;
    color: #3c3c3c;
}

.c-A3D9A5 {
    background-color: #A3D9A5;
}